* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #e7e7e7;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.coockie-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 9999; 
    padding: 20px;
}

.coockie-container {
    background: #ffcf4a;
    width: 600px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.coockie-ico img {
    width: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

.coockie-buttons {
    margin-top: 20px;
}

.coockie-buttons button {
    background: #fff;
    color: #164cff;
    border: 1px solid #164cff;
    padding: 8px 12px;
}

.coockie-buttons button:hover {
    cursor: pointer;
}

.coockie-reject, .coockie-accept {
    background: #164cff !important;
    color: white !important;
}

.coockie-text .read-more {
    color: blue;
}